<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.wipro.banking.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.wipro.banking.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerController</display-name>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>com.wipro.banking.controller.ManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutConntroller</display-name>
    <servlet-name>LogoutConntroller</servlet-name>
    <servlet-class>com.wipro.banking.controller.LogoutConntroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutConntroller</servlet-name>
    <url-pattern>/LogoutConntroller</url-pattern>
  </servlet-mapping>
</web-app>